// Colors variables declaration //

$color-primary: #032541;
$color-secondary: #21d07a;
$color-white: #fff;
$bgcolor: #ffdee9;
$bgimage: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
$cyan-color: #00ffff;
