// Font import links //
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Avestan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap");

// Font variables declaration //
$font-cairo: "Cairo", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-notojp: "Noto Sans JP", sans-serif;
$font-notosa: "Noto Sans Avestan", sans-serif;
